<footer class="c-main-footer js-main-footer">
  <div id="contact-map" class="c-main-footer__map">
  </div>
  <div class="c-main-footer__top o-container js-main-footer-top"></div>
  <div class="c-main-footer__bottom js-main-footer-bottom">
    <p class="c-main-footer__text">Jim Robinson. Copyright 2016.</p>
  </div>
</footer>
