{% extends "layout.njk" %}

{% block content %}

{% block style %}
<link rel="stylesheet" href="css/main-gold.css" data-pin="img/icofont-location-pin--gold.png">
{% endblock %}

{% import "header.njk" as header %}
{{ header.mainHeader('pic/mancomputerunsplash.jpeg', 'Nick Normann') }}

{% import "content.njk" as content %}
{{ content.mainContent("pic/ftyft.jpg", "img/deco-triangle--gold.png") }}

{% endblock %}
