{% extends "layout.njk" %}

{% block content %}

{% block style %}
<link rel="stylesheet" href="css/main-green.css" data-pin="img/icofont-location-pin--green.png">
{% endblock %}

{% import "header.njk" as header %}
{{ header.mainHeader('pic/6anudmpilw4-foto-sushi.jpg', 'Fred Scienceman') }}


{% import "content.njk" as content %}
{{ content.mainContent("pic/umncjq4kpca-chuttersnap.jpg", "img/deco-triangle--green.png") }}

{% endblock %}
