{% extends "layout.njk" %}

{% block content %}

{% block style %}
<link rel="stylesheet" href="css/main-blue.css" data-pin="img/icofont-location-pin--blue.png">
{% endblock %}

{% import "header.njk" as header %}
{{ header.mainHeader('pic/dicfm619crm-frank-marino.jpg', 'Mike Spaceman') }}

{% import "content.njk" as content %}
{{ content.mainContent("pic/nue8nu3otjo-nasa.jpg", "img/deco-triangle--blue.png") }}

{% endblock %}
